{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="col-md-6 offset-md-3">
  <form method="POST" >
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb">Login To Your Account</legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Login</button>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted">
    If you don't have an accaount <a class="ml-2" href="{% url 'register' %}">Sign Up</a>    </small>
  </div>

{% endblock content %}