{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


    <title>FeedMe {% block title %}             
    {% endblock %}  </title>         
  </head>
  <body>
    <header class="site-header">
    <!-- navigation bar -->
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top mb-6">
        <div class="container">
          <a class="navbar-brand mr-4 mb-1" href="{% url 'feed-home' %}">FeedMe</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link " href='{% url 'feed-home' %}'><i class="fa fa-rss mr-1" aria-hidden="true"></i>Home</a>
              <a class="nav-item nav-link" href='#'>Respices</a>
            </div>
            <div class="collapse navbar-collapse" id="navbarToggle">
            </div>
          </div>
          <!-- Navbar Right Side -->
          <ul class="navbar-nav">
            <!-- Avatar -->
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle d-flex align-items-center" href="#"
                id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
              <img src="{{ user.profile.image.url }}" class="img-xs rounded-circle mr-2 " loading="lazy"/>
                         {{ user.profile.first_name }} {{ user.profile.last_name }}</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'myprofile' %}"><i class="far fa-user-circle mr-2"></i>
                My Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'update_profile' %}"><i class="far fa-edit mr-2"></i>Edit Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt mr-2"></i>Logout</a></li>
              </ul>
            </li>
          {% else %}
          <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
          {% endif%}
          </ul>
        </div>
      </nav>
    <!-- end navigation bar -->
    </header>

    {% block content %}{% endblock %}

    <!-- ALERT MESSAGES -->
    <div class="fixed-bottom">
      {% if messages %}
      {% for message in messages %}
      <dir class="alert alert-{{ message.tags }} col-md-4" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </dir>
      {% endfor %}
      {% endif %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/c67eca1386.js" crossorigin="anonymous"></script>


  </body>
</html>